header
  h1 Adobe ExtendScript API documentation

  div.info
    p Alternative documentation system for Adobe ExtendScript API

section

  :markdown

    We at Yearbook Machine make extensive use of the ExtendScript API on a
    daily basis, but found the documentation system difficult to deal with.
    This is our solution to the problem. An attempt at making the ExtendScript
    API documentation more accessible and easier to use than the native Object
    Model Viewer.

    Feel free to [browse the documentation online](http://yearbook.github.io/esdocs),
    [download a copy](http://yearbook.github.io/esdocs/ybm-esapi-docs.zip) to host yourself,
    or even help us out over on [GitHub](https://github.com/yearbook/extendscript-api-documentation).

    ## Acknowledgements

    This project was inspired by the fantastic work by [Theunis de
    Jong](http://www.jongware.com/idjshelp.html). Many thanks for his efforts
    and inspiration.

    We would also like to thank [Steven Bryant](http://forums.adobe.com/people/Steven..)
    for his valuabe help with InDesign scripting.

hr

