header
  h1 InDesign API documentation

  div.info
    :markdown
      A [Yearbook Machine](http://yearbookmachine.com) project.


section
  :markdown
    We should write some enlightening stuff here.
