header
  h1 InDesign API documentation

  div.info
    :markdown
      A [Yearbook Machine](http://yearbookmachine.com) project.


section

  :markdown

    We at Yearbook Machine make extensive use of the InDesign API on a dailyb
    basis, but found the documentation system difficult to deal with. This is
    our solution to the problem. An attempt at making the InDesign API
    documentation more accessible and easier to use than the native Object
    Model Viewer.

    Feel free to [browse the documentation online](http://yearbookmachine.github.io/indesign),
    [download a copy](http://yearbookmachine.github.io/indesign/ybm-indesign-docs.zip) to host yourself,
    or even help us out over on [GitHub](https://github.com/yearbookmachine/indesign-api-documentation).

hr

