header
  div#articleSearch.input-group
    span.input-group-addon Filter
    input(id='elementFilter', class='form-control', ng-model='elementFilter')

  h1 {{ class.name }}
    small  {{ namespace }}

  div.info
    span(class='left label label-primary', ng-show='class.dynamic') Dynamic
    span.right(ng-show='class.superclass')
      span Superclass:
      a(href='#/{{ namespace }}/{{ class.superclass }}')
        code {{ class.superclass }}

section
  p {{ class.description }}

  div(ng-repeat='(type, data) in class.elements')
    h2 {{ type | titleCase }}

    div(ng-show='(data.properties | filter:elementFilter).length')
      div(class='panel panel-default', ng-repeat='property in data.properties | orderBy:"name" | filter:elementFilter')
        a(name='{{ property.name }}')
        div.panel-heading

          span(ng-show='property.array')
            code Array

          a(href='#/{{ namespace }}/{{ property.type }}', ng-show='property.type')
            code {{ property.type }}

          a(href='#/{{ namespace }}/{{ class.name }}/{{ property.name }}')
            b {{ property.name }}

          span(class='label label-danger', ng-show='property.readonly') Read only
          span(class='label label-primary') Property

        div.panel-body
          {{ property.description }}

    div(ng-show='(data.methods | filter:elementFilter).length')
      h3 Methods
      div(class='panel panel-default', ng-repeat='method in data.methods | orderBy:"name" | filter:elementFilter')
        a(name='{{ method.name }}')
        div.panel-heading
          a(href='#/{{ namespace }}/{{ method.type }}', ng-show='method.type')
            code {{ method.type }}

          a(href='#/{{ namespace }}/{{ class.name }}/{{ method.name }}')
            b {{ method.name }}

          span &#40;
          span(ng-repeat='param in method.parameters')
            a(href='#/{{ namespace }}/{{ param.type }}')
              code {{ param.type }}
            b {{ param.name }}
            span(ng-show='$first && !$last || $middle') &#44;
          span &#41;

          span(class='label label-success') Method

        div.panel-body
          {{ method.description }}

          div(ng-show='(method.parameters).length')
            hr

            h4 Parameters

            table(class='table table-striped')
              thead
                tr
                  td Type
                  td Name
                  td Description
              tbody
                tr(ng-repeat='param in method.parameters')
                  td
                    a(href='#/{{ namespace }}/{{ param.type }}')
                      code {{ param.type }}
                  td {{ param.name }}
                  td
                    span(class='label label-info', ng-show='param.optional') Optional
                    {{ param.description }}

    hr
